html {
  scroll-snap-type: y proximity;
  overflow: scroll;
}

html::-webkit-scrollbar {
  display: none;
}

main {
  position: relative;
}

main > section {
  text-align: center;
  color: white;
  min-height: 100vh;

  scroll-snap-align: start;
  background-size: cover;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
}

.container {
  padding: 0px;
  margin: 0 auto;
  max-width: 1000px !important;
  height: 100%;
}

.header {
  font-family: "DM Sans";
  font-weight: bold;
  font-size: 4vmin;
}

#profile {
  padding-top: 8vmin;
  background-color: #454c5a;
  background-image: url("assets/profile/background.gif");
}

#about {
  background-image: url("assets/about/background.gif");
}

#projects {
  background-color: darkgray;
  background-image: url("assets/projects/background2.gif");
}

#compositions {
  background-image: url("assets/compositions/background.gif");
  background-color: gray;
}

#contact {
  min-height: 100vh;
  background-image: url("assets/contact/background.gif");
}

.spin {
  animation: spin 1s;
  cursor: default;
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
